# Ignore all dot files and dot directories.
.*

# Whitelist some dot files that should be in the repository.
!.gitignore
!.scrutinizer.yml
!.travis.yml

# Blacklist files that are local user preferences.
# - `composer.lock` because this is a library;
# - `phpmd.xml` because it is a local copy of `phpmd.xml.dist`.
/composer.lock
/phpmd.xml

# Ignore directories:
# - `build` contains runtime (test) output;
# - `vendor` contains external dependency files.
/vendor/
/build/
